<!doctype html>
{% load static%}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/Styles/bootstrap.css">
    <link rel="stylesheet" href="../../static/Styles/vendors/linericon/style.css">
    <link rel="stylesheet" href="../../static/Styles/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../static/Styles/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="../../static/Styles/vendors/lightbox/simpleLightbox.css">
    <link rel="stylesheet" href="../../static/Styles/vendors/nice-select/css/nice-select.css">
    <link rel="stylesheet" href="../../static/Styles/vendors/animate-css/animate.css">
    <link rel="stylesheet" href="../../static/Styles/vendors/popup/magnific-popup.css">
    <link rel="stylesheet" href="../../static/Styles/vendors/flaticon/flaticon.css">
    <!-- main css -->
    <link rel="stylesheet" href="../../static/Styles/css/style.css">
    <link rel="stylesheet" href="../../static/Styles/css/responsive.css">

    <title>Sathish kumar</title>
  </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
          <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'my_profile/Sk_LOGO_blue.jpg' %}" width="50" height="50" class="d-inline-block align-top" alt="Satz's Logo">
            <span width="50" height="50">Sathish kumar</span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse text-center" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              
              <li class="nav-item">
                <a class="nav-link" href="{% static 'my_profile/Resume.pdf' %}">Resume</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://www.linkedin.com/in/link-2-sathish-kumar-d/" target="_blank">LinkedIn</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://twitter.com/Sathish91428810" target="_blank">Twitter</a>
              </li>
              <li>
                <a role="button" href="{% url 'my_blogs:blog' %}" class="btn btn-primary">Blog</a>
              </li>
            </ul>
          </div>
      </div>
  </nav>
  <div class="container">
    {% block basetemplate %}
    {% endblock %}
  </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>