<!--link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"-->
{% extends 'my_profile/base.html' %}

{% block basetemplate%}

{% load static%}
<!--div align="center">
    <img src="{% static 'my_profile/SathishPP1.jpg' %}" width="400" height="400">
    <h1>Sathish Portfolio</h1>
    <br>
</div-->

<!--================Home Banner Area =================-->
        <section class="home_banner_area">
           	<div class="container box_1620">
           		<div class="banner_inner d-flex align-items-center">
					<div class="banner_content">
						<div class="media">
							<div class="d-flex">
								<img src="{% static 'my_profile/Sathish.png' %}" alt="">
							</div>
							<div class="media-body">
								<div class="personal_text">
									<h6>Hello Everybody, I am</h6>
									<h3>Sathish kumar</h3>
									<h4>Python django developer</h4>
									<p>Good to see you here, you can find my portfolio in this page. Please go through my page and provide me you suggestions :-).</p>
									<ul class="list basic_info">
										<li><a href="#"><i class="lnr lnr-calendar-full"></i> 18th July, 1985</a></li>
										<li><a href="#"><i class="lnr lnr-phone-handset"></i> +971 55 633 9145</a></li>
										<li><a href="#"><i class="lnr lnr-envelope"></i> Sathishkumard_22@yahoo.co.in</a></li>
										<!--li><a href="#"><i class="lnr lnr-home"></i> Santa monica bullevard</a></li-->
									</ul>
									<ul class="list personal_social">
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->
{% endblock %}