<!DOCTYPE html>
<!--link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"-->
{% extends 'my_profile/base.html' %}

{% block basetemplate%}
    <h1 align="center">Satz has written {{blogs.count}} blog{{blogs.count|pluralize}}</h1>

    <meta charset="UTF-8">
    {%for blog in blogs%}
        <a href="{% url 'my_blogs:detail' blog.id %}"><h2>{{blog.title}}</h2></a>
        <h5>{{blog.date|date:'M d Y'}}</h5>
        <p>{{blog.description|truncatechars:100}}</p>
        <br>
    {%endfor%}
{% endblock %}