<!--link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"-->
{% extends 'my_profile/base.html' %}

{% block basetemplate%}
<div>
<h1 align="center">{{blog.title}}</h1>
<p>{{blog.description}}</p>
</div>
{% endblock %}